@media (min-width: 0px) {
    .images {
        column-count: 2;
    }
}
@media (min-width: 400px) {
    .images {
        column-count: 3;
    }
}
@media (min-width: 560px) {
    .images {
        column-count: 4;
    }
}


